

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #fff;
  font-size: 23px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 4px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  color: #fff;
}

a:link, a:visited {
  text-decoration: none
  }
a:hover {
  text-decoration: none; 
  }
a:active {
  text-decoration: none;
  color: #fff;
  }


.ubuntu-btn {
  background:    #073763;
  background:    linear-gradient(#3d85c6, #073763 50%, #3d85c6);
  border:        4px solid #073763;
  border-radius: 1000px;
  width:         241px;
  height:        60px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 5px/60px "Open Sans", sans-serif;
  text-align:    center;
}

.default-bsd-btn {
  box-shadow:inset 0px 0px 0px 0px #54a3f7;
  background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color:#007dc1;
  border-radius:3px;
  border:1px solid #124d77;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Verdana;
  font-size:21px;
  padding:10px 28px;
  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
}
.default-bsd-btn:hover {
  background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color:#0061a7;
}
.default-bsd-btn:active {
  position:relative;
  top:1px;
}

/* Define white link to all buttons
    div << a = ACTION
*/
div a {
  color: #fff;
}
div a:hover {
  color: #fff;
}